<nav
  [ngClass]="menuService.showSideBar ? 'w-[180px] xl:w-[240px]' : 'w-[70px]'"
  class="bg-background hidden h-full flex-col justify-between pt-3 transition-[width] duration-300 lg:flex">
  <div class="overflow-hidden">
    <!-- Logo & Title -->
    <div [ngClass]="menuService.showSideBar ? 'mx-4 mb-0 flex h-9 items-center' : 'mx-4 mb-4 flex h-9 items-center'">
      <!-- Logo (always visible) -->
      <a
        class="bg-primary flex cursor-pointer items-center justify-center rounded-sm p-2 focus:outline-hidden focus:ring-1">
        <svg-icon src="assets/icons/logo.svg"></svg-icon>
      </a>

      <!-- Text (only visible when sidebar is open) -->
      <span *ngIf="menuService.showSideBar"
        class="ml-1 text-sm font-semibold text-foreground whitespace-nowrap">
        ANGULAR DASHBOARD
      </span>
    </div>

    <!-- Menu Items -->
    <div
      class="scrollbar-thumb--sm scrollbar-track-rounded scrollbar-thin scrollbar-track-transparent scrollbar-thumb-card h-full overflow-auto px-4">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
  </div>
</nav>
